body {
  background-color : gainsboro;
  padding: 0px;
  font-family: "Montserrat", Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 70%;
  height: 8%;
  padding-left: 7%;
  text-align: left;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-shadow: 0px 8px 5px rgba(64,64,64,0.2);
  color: dimgrey;
}

#left {
  position: fixed;
  display: inline-block;
  top: 8%;
  left: 0%;
  width: 70%;
  height: 92%;
  padding: 0% 7%;
  z-index: -1;
  background-color: gainsboro;
  color: dimgrey;
  overflow-y: auto;
}

#right {
  position: fixed;
  top: 0%;
  left: 70%;
  width: 30%;
  height: 100%;
  background-color: silver;
  color: dimgrey;
}

.box {
  display: inline-block;
  box-shadow: 10px 10px 5px darkgrey;
  position: static;
  width: 35%;
  height: 30%;
  margin: 3% 7% 3% 0%;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 5px;
}

#addbox {
  display: inline-block;
  box-shadow: 10px 10px 5px darkgrey;
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 30%;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 2%;
}

#boxinfo {
  position: static;
  width: 60%;
  text-align: left;
  float: left;
}

#buttons {
  position: static;
  width: 40%;
  text-align: left;
  float: right;
}

input {
  margin: 2%;
}

input[type=number] {
  width: 20%;
}

.submitbtn {
  width: 20%;
  padding: 1%;
  margin: 8% 40%;
}

.btn {
  position: static;
  width: 50%;
  margin: 20%;
  float: right;
}

footer{
  position: fixed;
  display: block;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 5%;
  margin: 0%;
  padding-bottom: 2%;  
  text-align: center;
  color: dimgrey;
}