h1, h2, h3 {
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.new_pack_form {
    margin-left: 200px;
    margin-right: 900px;
    padding: 30px;
    text-align: left;
    background-color:#b0c4de;
}

table {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px 10px;

    background-color:#b0c4de;
}